<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/images/026.jpg">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    <p>{{errorMessage}}</p>
    {{>footer}}
</body>

</html>